<section id='research_event'>
    <h1>search events</h1>
    <div class="list">
    <% @events.each do |event| %>

      <a href="/events/<%=event.id%>">
          <span class="item" data-event-id="<%=event.id%>">
            <span class="event-image">
              <img src="<%=event.image%>">
            </span>
            <span class="venue-details-wrap">
              <span class="<%=event.genre.name%>">
                <h2></h2>
              </span>
              <span class="event-time">
                <h2><%=event.event_time%></h2>
              </span>
              <span class="event-venue">
                <h2><%=event.venue.name%></h2>
              </span>
            </span>
          </span>
      </a>
    <%end%>
   </div>
</section>
