<section id='research_event'>
    <h1>search events</h1>
    <div class="list">
    <% @events.each do |event| %>
        <div class="item" data-venue-id="<%=event.id%>">
          <div class="event-image">
            <img src="<%=event.image%>">
          </div>
          <div class="venue-details-wrap">
            <div class="<%=event.genre.name%>">
              <h2></h2>
            </div>
            <div class="event-time">
              <h2><%=event.event_time%></h2>
            </div>
            <div class="event-venue">
              <h2><%=event.venue.name%></h2>
            </div>
          </div>
        </div>
    <%end%>
   </div>
</section>
