<style>
    #content {
        color: black;
    }
    #popUpImg {
        width: 50%;

    }

</style>

<!-- details of events -->
<div class="list">
  <div class="item-detail">
      <div class="event-image">
        <img src="<%= @event.image%>">
      </div>

      <div class="events-page">
        <div>
          <div class="event-name">
            <h2> <%= @event.name %> </h2>
          </div>
          <div class="venue-details-wrap">
              <h2><%= @event.genre.name %></h2>
          </div>
          <div class="event-time">
            <h2><%= formatted_date(@event.event_time) %></h2>

          </div>
          <div class="event-venue">
            <h2><%= @event.venue.name %></h2>
          </div>
          <div class="event-venue-address">
            <h2> @ <%= @event.venue.address%> </h2>
          </div>
        </div>
        <div class="map"></div>
      </div>

      <div class="event-description">
        <p> <%= @event.description %></p>
      </div>
      <div class="back"> BACK </div>
  </div>




</div>

<section id="wrapper">
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCgv2nF9cSyCe8iy0UW7YtTiB3FpprBl4c&sensor=true"></script>
      <script>
          function whatever(position) {
              console.log("position");
          }
          function success(position) {
                var coords = new google.maps.LatLng(<%= @event.venue.latitude %>,<%= @event.venue.longitude %>);

              var options = {
                  zoom: 15,
                  center: coords,
                  mapTypeControl: false,
                  navigationControlOptions: {
                      style: google.maps.NavigationControlStyle.SMALL
                  },
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementsByClassName("map")[0], options);

              var marker = new google.maps.Marker({position: coords, map: map, title: "You are here!"});
              var userLocationText = '<div id="content"><%= @event.venue.name %></div>';
              var userLocInfoWindow = new google.maps.InfoWindow({content: userLocationText, maxWidth: 300});
              marker.addListener('mouseover', function () {
                  userLocInfoWindow.open(map, marker);
              });
          }

          console.log(window.navigator);
          if (window.navigator.geolocation) {
              window.navigator.geolocation.getCurrentPosition(success, whatever);
          } else {
              error('Geo Location is not supported');
          }
      </script>
  </section>
