<div class="venue-wrapper group">
  <div class="venue-options-wrap">
    <div class="venue-detail-name">
      <%= @venue.name %>
    </div>

    <div class="venue-detail-options">

      <a href="/venues/<%= @venue.id %>/edit">
        <button>Edit</button>
      </a>


      <form action="/venues/<%= @venue.id %>" class="venue-delete" method="post" enctype="multipart/form-data">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" value="delete" name="_method">
        <button>Delete</button>
      </form>

    </div>
  </div>

  <div class="venue-detail-image">
    <div class="venue-type venue-detail-venue-type">
      <%= @venue.venue_type.upcase %>
    </div>
    <% if @venue.image == nil %>
      <img src="http://www.molotowcocktail.eu/images/slider-img4.jpg">
    <% else %>
      <img src="<%= @venue.image %>">
    <% end %>
  </div>

  <div class="venue-detail-address">
    <span>Address: </span> <%= @venue.address %>, <%= @venue.suburd %> <%= @venue.postcode %>
  </div>



  <div class="venue-detail-description">
    <%= @venue.description %>
  </div>
</div>
