<!DOCTYPE html>
<html>
<head>
  <title>DuskTilDawn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>

  <header class='header-wrap'>
    <div class="menu-wrapper">

        <a href="/"><div class="logo"></div></a>
        <nav id="nav" role="navigation">
          <ul class="menu">
            <li><a href="/">Artists</a></li>
            <li><a href="/venues">Venues</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/near_you">Near You</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- <li><div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div></li>
            <li id='status'></li> -->
            <% if logged_in? %>
            <!-- Avatar & Username -->
            <li><a href="/users/<%= session[:user_id] %>" class="header-link login-name"><img src="/assets/user.png" class="login-avatar"></a></li>

            <!-- Log Out Button -->
            <li><form action="/sessions" method="post" class="logout-form">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input type="hidden" value="delete" name="_method">
              <button class="logout-button">Log Out</button>
            </form></li>

            <% else %>

            <li class="header-link js-login-btn">Log In </li>
            <li class="header-link"> <a href="/users/new">Sign Up</a></li>

            <% end %>

          </ul>
        </nav>
        <a id="i-nav" href="#">Menu</a>





      <div class="login-popup-wrap">
        <form class="login-popup" action="/sessions" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="text" name="email" placeholder="Email Address" class="login-email">
          <input type="password" name="password" placeholder="Password" class="login-password">
          <button class="button">Log In</button>
        </form>
      </div>


    </div>
  </header>
  <!-- Popup for User login -->


  <%= yield %>

</body>
</html>
